@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}

:root {
  --main-color: #5d3fd3;
}

body {
  background: #5d3fd30f;
}

nav {
  display: flex;
  justify-content: space-between;
  height: 80px;
  box-shadow: 0px 3px 5px 1px #0000001a;
  align-items: center;
  background: #fff;
}

nav .logo {
  font-weight: 600;
  font-size: 25px;
  margin-left: 25px;
}

nav .logo span {
  color: var(--main-color);
}

.nav-links .nav-link {
  margin: 0 30px;
  display: inline-block;
  position: relative;
  font-weight: 600;
  color: #000;
}

.nav-links .nav-link::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: var(--main-color);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.nav-links .nav-link:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.nav-links .nav-link.active {
  border-bottom: 2px solid var(--main-color);
}

.btn {
  padding: 7px 15px;
  outline: none;
  border-radius: 5px;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
  background: var(--main-color);
  transition: all 0.3s ease;
}

.btn:hover {
  opacity: 0.7;
}

nav .btn {
  margin-right: 25px;
}

article {
  width: 90%;
  margin: 0 auto;
  display: flex;
}

.tips {
  flex: 3;
  margin-top: 25px;
}

.recent-tests {
  flex: 1.5;
}

.stat-cards {
  display: flex;
  gap: 40px;
  width: 100%;
  justify-content: space-between;
}

.stat-card {
  background: #fff;
  width: 100%;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0px 3px 5px 1px #0000001a;
}

.stat-card h4 {
  color: rgb(150, 150, 150);
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 10px;
}

.stat-card .trend {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.stat-card .trend i {
  color: var(--main-color);
  margin-right: 10px;
}

.recent-tests {
  background: #fff;
  border-radius: 20px;
  margin-top: 25px;
  padding: 20px;
  margin-left: 40px;
  box-shadow: 0px 3px 5px 1px #0000001a;
}

.recent-tests .test {
  display: flex;
  align-items: center;
  margin-top: 40px;
}

.test i {
  color: var(--main-color);
  font-size: 30px;
  margin-right: 20px;
}

.test .test-info h4 {
  color: rgb(149, 149, 149);
  font-weight: 500;
}

.test .test-info h2 {
  font-size: 20px;
}

.test .test-info h6 {
  margin-top: 5px;
  font-weight: 500;
  font-size: 13px;
  color: rgb(73, 73, 73);
}

.test-info .scores {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 10px;
}

.goal-score {
  display: flex;
  margin-top: 8px;
}

.goal-score p {
  text-decoration: underline;
}

.goal-score h5 {
  font-size: 16px;
  color: var(--main-color);
  margin-left: 10px;
}

.tips .testing-tips {
  background: #fff;
  box-shadow: 0px 3px 5px 1px #0000001a;
  padding: 20px;
  border-radius: 20px;
  margin-top: 20px;
}

.testing-tips h2 {
  margin-bottom: 10px;
}

.testing-tips h3 {
  color: rgb(73, 73, 73);
  margin-bottom: 20px;
}

.testing-tips h3 span {
  margin-left: 20px;
  color: rgb(149, 149, 149);
  font-weight: 500;
}

.testing-tips h4 {
  margin-bottom: 6px;
  color: var(--main-color);
}

.testing-tips p {
  margin-bottom: 15px;
}

.testing-tips a {
  display: block;
  margin-bottom: 5px;
  color: rgb(123, 123, 123);
}

.testing-tips a:hover {
  color: var(--main-color);
  transition: all 0.3s ease;
}

.testing-tips a span {
  margin-left: 20px;
  color: #000;
}

.testing-tips a span i {
  margin-right: 7px;
  color: var(--main-color);
}
